<div class="d-flex flex-column min-vh-100">
    <div class="navbar-container">
        <app-business-navbar></app-business-navbar>
    </div>

    <div class="main-container">
        <div class="main-container-section1">
            <div class="profile-container">
                <i class="bi bi-person-circle"></i>
                <h5>Anya Boat Tour</h5>
                <p>Business</p>
            </div>
        </div>

        <div class="main-container-section2">
            <h4>About Business</h4>
            <button type="button" class="btn edit-btn">Edit Profile</button>
        </div>
    </div>

    <div class="footer-container">
        <app-inside-footer></app-inside-footer>
    </div>
</div>