<div class="d-flex align-items-center justify-content-center register-header-container">
    <h4>ScheduleMate</h4>
</div>

<div class="d-flex align-items-center justify-content-center register-content-container">
    <div class="register-container p-4 rounded shadow" style="max-width: 50%; width: 100%;">
        <h3 class="text-center mb-3">Register</h3>

        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs custom-nav-tabs">
            <li [ngbNavItem]="1">
                <button ngbNavLink>Client Registration</button>
                <ng-template ngbNavContent>
                    <form>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="firstName" class="form-label custom-label">First Name</label>
                                <input type="text" id="firstName" name="firstName" [(ngModel)]="firstName"
                                    class="form-control form-control-sm" placeholder="Enter your first name"
                                    [ngClass]="{'has-error': clientRegistrationFormError['cfNameRequired']}">
                            </div>
                            <div class="col">
                                <label for="lastName" class="form-label custom-label">Last Name</label>
                                <input type="text" id="lastName" name="lastName" [(ngModel)]="lastName"
                                    class="form-control form-control-sm" placeholder="Enter your lastName"
                                    [ngClass]="{'has-error': clientRegistrationFormError['clNameRequired']}">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <label for="email" class="form-label custom-label">Email</label>
                                <input type="email" id="email" name="clientEmail" [(ngModel)]="clientEmail"
                                    class="form-control form-control-sm" placeholder="Enter your email"
                                    [ngClass]="{'has-error': clientRegistrationFormError['cemailRequired'] || clientRegistrationFormError['cemailNotValid']}">
                            </div>
                            <div class="col">
                                <label for="contactNumber" class="form-label custom-label">Contact Number</label>
                                <input type="contactNumber" id="contactNumber" name="clientPhoneNumber"
                                    [(ngModel)]="clientPhoneNumber" class="form-control form-control-sm"
                                    placeholder="+94 71 4582 7845"
                                    [ngClass]="{'has-error': clientRegistrationFormError['cPNumberRequired']}">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <label for="password" class="form-label custom-label">Password</label>
                                <input type="text" id="password" name="clientPassword" [(ngModel)]="clientPassword"
                                    class="form-control form-control-sm" placeholder="Enter your password"
                                    [ngClass]="{'has-error': clientRegistrationFormError['cPwRequired']}">
                            </div>
                            <div class="col">
                                <label for="confirmPassword" class="form-label custom-label">Confirm password</label>
                                <input type="text" id="confirmPassword" name="clientConfirmPassword"
                                    [(ngModel)]="clientConfirmPassword" class="form-control form-control-sm"
                                    placeholder="Enter your password again"
                                    [ngClass]="{'has-error': clientRegistrationFormError['cCPwRequired']}">
                            </div>
                        </div>

                        <p class="text-danger" style="font-size: 0.8rem; margin-top: 0px;"
                            *ngIf="clientRegistrationFormError['passwordNotEqual'] != undefined">
                            {{clientRegistrationFormError['passwordNotEqual']}}</p>

                        <button class="btn btn-sm register-btn w-100" (click)="onRegister()">Register</button>
                    </form>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <button ngbNavLink>Business Registration</button>
                <ng-template ngbNavContent>
                    <form>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="businessName" class="form-label custom-label">Business Name</label>
                                <input type="text" id="businessName" name="businessName" [(ngModel)]="businessName"
                                    class="form-control form-control-sm" placeholder="Enter the business name"
                                    [ngClass]="{'has-error': businessRegistrationFormError['bNameRequired']}">
                            </div>
                        </div>

                        {{businessEmail}}
                        <div class="row mb-3">
                            <div class="col">
                                <label for="bemail" class="form-label custom-label">Email</label>
                                <input type="email" id="bemail" class="form-control form-control-sm"
                                    placeholder="Enter your email" name="businessEmail" [(ngModel)]="businessEmail"
                                    [ngClass]="{'has-error': businessRegistrationFormError['bEmailRequired'] || businessRegistrationFormError['bEmailNotValid']}">
                            </div>
                            <div class="col">
                                <label for="contactNumber" class="form-label custom-label">Contact Number</label>
                                <input type="contactNumber" id="contactNumber" name="businessPhoneNumber"
                                    [(ngModel)]="businessPhoneNumber" class="form-control form-control-sm"
                                    placeholder="+94 71 4582 7845"
                                    [ngClass]="{'has-error': businessRegistrationFormError['bPNumberRequired']}">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <label for="password" class="form-label custom-label">Password</label>
                                <input type="text" id="password" class="form-control form-control-sm"
                                    placeholder="Enter your password" name="businessPassword"
                                    [(ngModel)]="businessPassword"
                                    [ngClass]="{'has-error': businessRegistrationFormError['bPwRequired']}">
                            </div>
                            <div class="col">
                                <label for="confirmPassword" class="form-label custom-label">Confirm password</label>
                                <input type="text" id="confirmPassword" class="form-control form-control-sm"
                                    placeholder="Enter your password again" name="businessConfirmPassword"
                                    [(ngModel)]="businessConfirmPassword"
                                    [ngClass]="{'has-error': businessRegistrationFormError['bCPwRequired']}">
                            </div>
                        </div>

                        <p class="text-danger" style="font-size: 0.8rem;"
                            *ngIf="businessRegistrationFormError['passwordNotEqual'] != undefined">
                            {{businessRegistrationFormError['passwordNotEqual']}}</p>

                        <button class="btn btn-sm register-btn w-100" (click)="onRegister()">Register</button>
                    </form>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>

        <p class="text-center custom-paragraph mt-3">
            <a href="#">Already Have an Account?</a>
        </p>
    </div>
</div>