.login-container {
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.custom-label {
    font-size: 0.9rem;
}

.custom-paragraph {
    font-size: 0.9rem;
}

.login-btn {
    background-color: rgb(255, 184, 52);
    font-weight: 500;
}

.has-error {
    border-color: rgb(255, 142, 12);
}

.custom-text {
    color: rgb(255, 142, 12);
}

.custom-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
    width: auto;
    min-width: 250px;
    font-weight: bold;
}