.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #3fa036;
    height: 10vh;
}

.navbar-right .avatar-button {
    background-color: red;
    border: none;
    color: rgb(27, 27, 27);
    font-size: 1.5rem;
}

.avatar-button:hover {
    cursor: pointer;
}