@import '../../../../styles.scss';

.navbar-container {
    background-color: $global-white;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(231, 231, 231);
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: bold;
}

.signin-btn {
    background-color: $success-color;
    color: $global-white;
    font-weight: 500;
    border-radius: 15px;
}