<div class="d-flex flex-column min-vh-100">
    <app-navbar></app-navbar>

    <div class="row mt-4 d-flex justify-content-center">
        <div class="filter-sub-container">

            <div class="col-8">
                <div class="input-group search-bar-container">
                    <input type="text" name="searchKey" [(ngModel)]="searchKey" (ngModelChange)="getSFeed()" class="form-control form-control-sm">
                    <button class="btn search-button" type="button" (click)="getSFeed()">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-end">
                <button class="btn filter-button" type="button" (click)="openFilterFeedModal(filterFeedModal)">
                    filter <i class="bi bi-filter"></i>
                </button>
            </div>

        </div>
    </div>

    <div *ngIf="!isEmptyBlockEnabled" class="flex-grow-2 container mt-4">
        <div class="feed">
            <div class="row">
                <div class="col-md-3 mb-3" *ngFor="let item of serviceFeedList">
                    <div class="card h-300">
                        <div class="card-body">
                            <img src="{{ item.imageUrl }}" class="card-img-top" alt="Card image">

                            <div class="top-section">
                                <div class="section-1">
                                    <p>{{item.name}}</p>
                                </div>
                                <div class="section-2">
                                    <p>Tangalle, SriLanka</p>
                                </div>
                            </div>

                            <div class="middle-section">
                                <div class="section-1">
                                    <p>{{item.description}}</p>
                                </div>
                                <div class="section-2">
                                    <p>5</p><i class="bi bi-hand-thumbs-up"></i>

                                </div>
                            </div>

                            <div class="bottom-section">
                                <a href="#">Click Here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="isEmptyBlockEnabled" style="min-height: 75vh; display: flex; justify-content: center; align-items: center; background-color: rgb(247, 247, 247); margin-top: 1vh;">
        <h5 style="color: rgb(190, 190, 190);">Not Found Result!</h5>
    </div>

    <app-footer></app-footer>
</div>

<ng-template #filterFeedModal let-modal>
    <div class="modal-header">
        <h6 class="modal-title">Filter Feed</h6>
        <button type="button" class="btn-close btn-sm" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body d-flex justify-content-center">
        <div class="price-range" style="margin-top: 0;">
            <label for="priceRange" class="form-label">Price Range</label>
            <div class="range-labels">
                <span>0 LKR</span>
                <span id="current-price">MEDIUM</span>
                <span>100K LKR</span>
            </div>
            <input type="range" class="form-range" id="priceRange" min="0" max="100" value="50">
        </div>
    </div>
</ng-template>