<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-3" style="background-color: rgb(255, 255, 255); border-top: 2px solid rgb(233, 233, 233); border-bottom: 2px solid rgb(230, 230, 230);">
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        
        <div class="social-link-container">
            <a href="" class="me-4 text-reset">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="bi bi-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="bi bi-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="bi bi-geo-alt"></i>
            </a>
        </div>
    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Schedulemate
                    </h6>
                    <p>
                        Here you can use rows and columns to organize your footer content. Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
               
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Services
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Boat Riding</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Adventure</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Travel</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Guiding</a>
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Pricing</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Settings</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Scheduling</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Help</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3"></i> Nakulugamuwa, Tangalle, LK</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        schedulemate&#64;sch.lk
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 94 72 145 2525</p>
                    <p><i class="fas fa-print me-3"></i> + 94 72 145 2526</p>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center p-3" style="background-color: rgb(255, 255, 255); border-top: 2px solid rgb(212, 212, 212);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="#">schedulemate.com</a>
    </div>
</footer>
