@import '../../../../styles.scss';

.custom-footer {
    background-color: $global-white;
    color: #fff;
    border-top: 2px solid rgb(231, 231, 231);

    .row-1 {
        color: #fff;
    }

    .row-2 {
        background-color: #fff;
        color: #212529;
    }

    .row-3 {
        color: #000;
    }

    .row-4 {
        color: #868686;
    }

    p {
        margin: 0;
    }
}

.footer-brand {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
}

.copy-right {
    font-size: 0.8rem;
    font-weight: 400;
}

.privacy {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
}

.terms {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
}

.bottom-links {
    width: 13%;
    display: flex;
    justify-content: space-between;
}

.social-links {
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px solid rgb(231, 231, 231);
}

.fb,
.tw,
.linkedin,
.tik {
    font-size: 1.8rem;
    cursor: pointer;
}